// Table of Content
// ===============================================
// # Variables
// # Elements */

// # Variables
// =============================================== */
// No local variables available

// # Elements
// =============================================== */

.sports {
	@include padding(null null rem(88px));
	@include max-screen($breakpoint-small){
		@include padding(null null rem(45px));
	}

	&__filter {
		display: flex;
		flex-wrap: wrap;
		justify-content: center;
		@include margin(null rem(-16px) rem(90px));
		@include max-screen($breakpoint-tablet){
			@include margin(null null rem(50px));
		}

		li {
			display: inline-block;
			@include padding(null rem(16px) rem(5px));
			@include max-screen($breakpoint-small){
				width: 100%;
			}

			a {
				display: block;
				min-width: rem(170px);
				@extend .btn;
				@extend .btn-default-o;
			}
			&.is-active {
				a {
					@extend .btn-default-o:hover;
				}
			}
		}
	}

	&__list {
		text-align: center;

		figure {
			@include position(relative, null);
			@include margin(null null rem(32px));

			&:after {
				content: '';
				width: 100%;
				height: 100%;
				display: block;
				background: rgba($color-black, 0.4);
				transition: $base-duration $base-timing;
				@include position(absolute, 0 null null 0);
			}

			img {
				width: 100%;
			}

			span {
				z-index: 1;
				width: 100%;
				display: block;
				font-weight: 700;
				text-align: center;
				color: $text-color-white;
				text-transform: uppercase;
				transform: translateY(-50%);
				@include padding(rem(10px));
				@include position(absolute, 50% null null 0);
			}

			&:hover {
				&:after {
					background: rgba($color-orange, 0.7);
				}
			}
		}
	}

	&__loader {
		@include padding(rem(20px) null);

		.btn,
		.button {
			min-width: rem(230px);
			text-transform: uppercase;
		}
	}

	&--related {
		text-align: center;
		@include padding(rem(66px) null rem(60px));

		h2 {
			font-weight: 600;
			color: $heading-color;
			@include font-size(30px);
			@include margin(null null rem(68px));
		}

		.btn,
		.button {
			min-width: rem(230px);
			text-transform: uppercase;
			@include margin(rem(20px) null null);
		}
	}
}
