// Table of Content
// ===============================================
// # General
// # Grid
// # Typography */

// # General
// =============================================== */

// Proper REM calculation
$em-base: 16px; // Do not change this unless you know what you are doing

// Image Path
$image-path: '../../img';

// Retina suffix
$retina: false;
$retina-suffix: '@2x';

// Page
$page-bg: #fff;

// Width
$width-base: 1140px; // Mainly used for centering

// Gutters
$gutter-base: 20px;
$gutter-top: 0;
$gutter-right: $gutter-base;
$gutter-bottom: $gutter-base;
$gutter-left: $gutter-base;
$gutter-side: 20px; // Used when base width is reached
$gutter-side-tablet: 20px; // Used when base width is reached
$gutter-side-phone: 20px; // Used when base width is reached

// Colors
$color-error: #d9534f;
$color-success: #74ad58;
$color-info: #5bc0de;
$color-orange: #f07f16;
$color-primary: #4d2f48;
$color-white: #fff;
$color-black: #000;
$color-gray: #eee;
$color-gray-light: #232323;

// Breakpoints
$breakpoint-small: 575px;
$breakpoint-phone: 767px;
$breakpoint-tablet: 991px;
$breakpoint-desktop: 1199px;

// # Animations
// =============================================== */

$base-duration: 0.35s;
$base-timing: ease-in-out;

// # Typography
// =============================================== */

$text-color-base: #000;
$text-color-orange: #f07f16;
$text-color-white: #fff;
$text-color-primary: #4d2f48;
$text-color-gray: #eee;
$text-color-gray-alt: #e5e5e5;

$link-color-base: #f07f16;
$link-decoration-base: none;
$link-hover-color-base: $text-color-base;
$link-hover-decoration-base: none;

$font-family-base: 'Fira Sans', sans-serif;
$font-size: 18px;
$font-size-h1: 42px;
$font-size-h2: 30px;
$font-size-h3: 24px;
$font-size-h4: 20px;
$font-size-h5: 18px;
$font-size-h6: 16px;

$line-height-base: 1.4; // Always use integer no px or rem values

$heading-margin: 0 0 rem(20px) 0;
$heading-font-family: inherit;
$heading-font-weight: 600;
$heading-line-height: 1.1;
$heading-color: $text-color-primary;
